---

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}.yml"
        - "{{ ansible_facts['os_family'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['os_family'] }}.yml"
      paths:
        - 'vars'

- name: Initialize local variables
  ansible.builtin.set_fact:
    upgrade_need_reboot: false
    upgrade_need_hidsupdate: false

- name: Import proxmox
  ansible.builtin.import_tasks: proxmox.yml
  when:
    - upgradepkgs_proxmox_snap_enable | bool
    - hostvars[inventory_hostname].vmid is defined
    - hostvars[inventory_hostname].pve is defined
    - upgradepkgs_proxmox_api_user is defined
    - upgradepkgs_proxmox_api_user | length > 0
    - upgradepkgs_proxmox_api_password is defined
    - upgradepkgs_proxmox_api_password | length > 0

- name: Import debian
  ansible.builtin.import_tasks: debian.yml
  when: ansible_facts['os_family'] == 'Debian'

- name: Import redhat
  ansible.builtin.import_tasks: redhat.yml
  when: ansible_facts['os_family'] == 'RedHat'

- name: Import alpine
  ansible.builtin.import_tasks: alpine.yml
  when: ansible_facts['os_family'] == 'Alpine'

- name: Import darwin
  ansible.builtin.import_tasks: darwin.yml
  when: ansible_facts['os_family'] == 'Darwin'

- name: Import openbsd
  ansible.builtin.import_tasks: openbsd.yml
  when: ansible_facts['os_family'] == 'OpenBSD'

- name: Check if snapd is present
  ansible.builtin.stat:
    path: /var/lib/snapd
  register: has_snapd
- name: Import snapd
  ansible.builtin.import_tasks: snapd.yml
  when: has_snapd.stat.exists

- name: Import aide-hids
  ansible.builtin.import_tasks: aide-hids.yml
  when: (upgrade_need_hidsupdate and upgrade_aidedb_update) or (upgrade_forceaide is defined and upgrade_forceaide)

- name: Debug | var upgrade_need_reboot
  ansible.builtin.debug:
    var: upgrade_need_reboot
- name: Import reboot
  ansible.builtin.import_tasks: reboot.yml
  when: upgrade_need_reboot and not noreboot_all
