---

# https://github.com/ansible-collections/community.proxmox/issues/114
- name: Ensure pip and venv are installed
  ansible.builtin.package:
    name:
      - python3-pip
      - python3-venv
  become: true
  delegate_to: "{{ hostvars[inventory_hostname].pve | default(omit) }}"

- name: Install proxmoxer and requests
  ansible.builtin.pip:
    name:
      - proxmoxer
      - requests
    virtualenv: /usr/lib/python-just-for-use-with-ansible-and-proxmox
    virtualenv_command: "{{ ansible_python.executable }} -m venv"
  become: true
  environment: "{{ proxy_env | default(omit) }}"
  delegate_to: "{{ hostvars[inventory_hostname].pve | default(omit) }}"

- name: Use special Python to be able to use community.proxmox modules
  ansible.builtin.set_fact:
    ansible_python_interpreter_proxmoxer: >-
      /usr/lib/python-just-for-use-with-ansible-and-proxmox/bin/python3
  delegate_to: "{{ hostvars[inventory_hostname].pve | default(omit) }}"

- name: Create new container snapshot
  community.proxmox.proxmox_snap:
    api_user: "{{ upgradepkgs_proxmox_api_user }}"
    api_password: "{{ upgradepkgs_proxmox_api_password }}"
    api_host: "{{ hostvars[inventory_hostname].pve | default(omit) }}"
    vmid: "{{ hostvars[inventory_hostname].vmid | default(omit) }}"
    state: present
    snapname: "upgradepkgs-{{ ansible_facts.date_time.year }}{{ ansible_facts.date_time.month }}{{ ansible_facts.date_time.day }}"
    retention: "{{ upgradepkgs_proxmox_snap_retention }}"
  delegate_to: "{{ hostvars[inventory_hostname].pve | default(omit) }}"
  vars:
    ansible_python_interpreter: "{{ ansible_python_interpreter_proxmoxer | default(omit) }}"
