---
name: default-bare

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:  # run weekly, every monday 03:00
    - cron: '0 3 * * 1'

permissions: {}

jobs:
  build:
    permissions:
      contents: read
    runs-on: ${{ matrix.distribution }}-${{ matrix.version }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        include:
          - distribution: ubuntu
            version: '24.04'
            experimental: false
            idempotency_exit: 0
          - distribution: ubuntu
            version: '22.04'
            experimental: false
            idempotency_exit: 0
          - distribution: macos
            version: latest
            experimental: true
            idempotency_exit: 1
    env:
      ANSIBLE_CALLBACKS_ENABLED: profile_tasks
      ANSIBLE_ROLE: juju4.upgrade_pkgs

    steps:
      - uses: actions/checkout@v5
        with:
          path: ${{ env.ANSIBLE_ROLE }}
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python3 --version
          python3 -c "import ssl; print(ssl.OPENSSL_VERSION)"
          python3 -c 'import ssl; ssl.PROTOCOL_TLSv1_2'
          python3 -m pip install --upgrade pip
          pip3 install ansible-lint flake8 yamllint
          which ansible
          pip3 install ansible
          pip3 show ansible
          ls -l $HOME/.local/bin || true
          ls -l /opt/hostedtoolcache/Python/3.9.1/x64/bin || true
          echo "/opt/hostedtoolcache/Python/3.9.1/x64/bin" >> $GITHUB_PATH
          ansible --version
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE
          [ -f get-dependencies.sh ] && sh -x get-dependencies.sh
          { echo '[defaults]'; echo 'callbacks_enabled = profile_tasks, timer'; echo 'roles_path = ../'; echo 'ansible_python_interpreter: /usr/bin/python3'; } >> ansible.cfg
      - name: Workaround grub-efi-amd64-signed
        # https://github.com/orgs/community/discussions/47863
        # https://github.com/actions/runner-images/issues/7192
        run: |
          echo RESET grub-efi/install_devices | sudo debconf-communicate grub-pc
        if: matrix.distribution == 'ubuntu'
      - name: Environment
        run: |
          pwd
          env
          find . -ls
      - name: Before script - systemctl
        run: |
          systemd-analyze security || true
          systemctl status --all --no-pager || true
        if: matrix.distribution != 'macos'
      - name: run test
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-playbook -i localhost, --connection=local --become -vvv molecule/default/converge.yml
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
      - name: idempotency run
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-playbook -i localhost, --connection=local --become -vvv molecule/default/converge.yml | tee /tmp/idempotency.log | grep -q 'changed=0.*failed=0'  && (echo 'Idempotence test: pass' && exit 0)  || (echo 'Idempotence test: fail' && cat /tmp/idempotency.log && exit $idempotency_exit)
      - name: On failure
        run: |
          systemctl -l --no-pager status
        if: matrix.distribution != 'macos' && env.WORKFLOW_CONCLUSION == 'failure'  # notify only if failure
      - name: After script - systemctl
        run: |
          systemd-analyze security || true
          systemctl --failed || true
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - macos
        run: |
          set -x
          port outdated || true
          brew outdated || true
        if: matrix.distribution == 'macos' && ${{ always() }}
        continue-on-error: true
